
body, html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  font-weight: 300;
  color: #444;
}

h1, h2, h3, h4, h5 {
  font-weight: 300; 
}

a {
  color: grey;
  text-decoration: none;
}

.bg {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/img/evn.jpg");
}

.bw {
  -webkit-filter: grayscale(100%);
  transition: 1.0s;
}

.colorize {
  -webkit-filter: grayscale(0%);
  transition: 2.0s;
}

.main_container {
  width: 100%;
  height: 100%;
  position:absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
}

.first_half {
  background-color: rgba(236, 222, 222, 0.8);
  width: 40%;
}

.second_half {
  background-color: rgba(247, 253, 249, 0.8);
  width: 60%;
  overflow-y: scroll;
}

.main_title {
  padding: 10% 5%;
  vertical-align: middle;
  color: #2b4b79;
  text-align: center;
}

.cta_container {
  padding: 5%;
  vertical-align: middle;
  color: #2b4b79;
  text-align: center;
}

.cta_container > p {
  padding: 2em;
  font-size: smaller;
  color: white;
}

.content_container {
  padding: 24px;
}

.footer_container {
  color: grey;
  text-align: center;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  letter-spacing: 2px;
  border: 2px solid;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  color: #2b4b79;
  font-weight: 500;
  font-size: larger;
  white-space: nowrap;
  user-select: none;
}

.footer_container > a {
  margin: 0.5em;
}

.links_container {
  padding: 1em 0em;
  font-size: 100%;
  font-family: "Courier New", Courier, monospace;
}

.links_container > a {
  color: lightgrey;
  padding: 0.5em;
}

.partners_container > a {
  color: lightgrey;
  padding: 1em;
}

.partners_container > a > img {
   opacity: 0.1;
   height: 2em;
   vertical-align: bottom;
}

.links_vertical {
  display: grid;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .bg {
    height: auto;
  }

  .main_container {
    flex-direction: column;
    min-height: 100%;
    position: inherit;
  }

  .first_half {
    width: 100%;
    min-height: 70vh;
    background-color: rgba(236, 222, 222, 0.8);
  }

  .second_half {
    width: 100%;
    overflow-y: inherit;
    background-color: rgba(247, 253, 249, 0.8);
  }

  .cta_container > div {
    display: grid;
  }

  .links_container {
    font-size: 150%;
  }

  .content_container > div {
    display: grid;
  }
}
