<div class="links_container">
  <a class="links" target="_blank" href="https://www.reddit.com/r/MLEVN/">
    <i class="fab fa-reddit"></i>
    reddit
  </a>
  <a class="links" target="_blank" href="https://groups.google.com/forum/#!forum/mlevn">
    <i class="fas fa-envelope"></i>
    groups
  </a>
  <a class="links" target="_blank" href="https://twitter.com/ml_evn">
    <i class="fab fa-twitter"></i>
    twitter
  </a>
  <a class="links" target="_blank" href="https://www.facebook.com/MLEVN.org/">
    <i class="fab fa-facebook"></i>
    facebook
  </a>
  <a class="links">
    <i class="fab fa-telegram"></i>
    telegram
  </a>
  <a class="links" target="_blank" href="https://github.com/mlevn">
    <i class="fab fa-github"></i>
    github
  </a>
</div>
