<p>
  <span id="signed_up"></span>
  <br><br>
  <span id="online"></span>
</p>
<script async>

  function loadJson(redditJsonUrl) {
    return fetch(redditJsonUrl)
      .then(res => res.json())
      .catch(err => {
        console.log(err)
        return {}
      })
  }
  
  function updateUsersStatus(interval) {
    const statusJson = "https://www.reddit.com/r/MLEVN/about.json"
    loadJson(statusJson).then(updateJson => {
      var data = updateJson.data || {}
      document.getElementById('signed_up').innerText = (data.subscribers || 0) + ' members'
      document.getElementById('online').innerText = (data.active_user_count || 0) + ' online now'
    }) 
  }
  
  setTimeout(updateUsersStatus, 600);
  setInterval(updateUsersStatus, 60 * 1000);
</script>
