<p>
  <span id="signed_up"></span>
  <br><br>
  <span id="online"></span>
</p>
<script async>

  function loadJson(redditJsonUrl) {
    return fetch(redditJsonUrl)
      .then(res => res.json())
      .catch(err => {
        console.log(err)
        return {}
      })
  }
  
  function updateUsersStatus(interval) {
    const statusJson = "https://www.reddit.com/r/MLEVN/about.json"
    loadJson(statusJson).then(updateJson => {
      var data = updateJson.data || {}
      document.getElementById('online').innerText = data.active_user_count || 0
      document.getElementById('signed_up').innerText = data.subscribers || 0
    }) 
  }
  
//   const start = 1529872022619; // 24 June
//   const diff_ms = new Date() - start;
//   const diff_h = diff_ms / (1000 * 60 * 60);

//   const signed_up = Math.floor(diff_h);
//   const online = Math.floor(7 + (new Date().getHours() / 2) + (new Date().getMinutes() / 6));

//   var i = 0;
//   function updateOnline() {
//     document.getElementById('online').innerText = i + ' online';
//     if (i < online) {
//       setTimeout(updateOnline, 10);
//     }
//     i += 1;
//   }
//   var j = 0;
//   function updateSignup() {
//     document.getElementById('signed_up').innerText = j + ' signed up';
//     if (j < signed_up) {
//       setTimeout(updateSignup, 20);
//     } else {
//        updateOnline();
//     }
//     j += 1;
//   }
  setTimeout(updateUsersStatus, 1000);

</script>
