
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #444;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

a {
  color: #353434;
  text-decoration: none;
}

h2 > a {
  font-size: 125%;
}

.bgimg {
  background: url(/static/evn-ml-light.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bw {
  -webkit-filter: grayscale(100%);
  transition: 1.0s;
}

.colorize {
  -webkit-filter: grayscale(0%);
  transition: 2.0s;
}

.home_page_container {
  display: flex;
  flex-direction: column;
}

.main_container {
  width: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
}

.first_half {
  width: 70%;
}

.second_half {
  width: 30%;
  font-size: 80%;
}

.main_title {
  padding: 1em;
  padding-top: 25%;
  vertical-align: middle;
  color: #2b4b79;
  text-align: center;
}

.latest_container {
  padding: 3em;
  padding-top: 1em;
  padding-left: 30%;
  font-size: small;
}

.ago {
   padding-left: 1em;
   font-size: x-small;
   color: grey;
}
.comments {
   padding-left: 1em;
   font-size: x-small;
   color: grey;
}

.cta_container {
  padding: 20%;
  vertical-align: middle;
  color: #2b4b79;
  text-align: center;
}

.cta_container > p {
  padding: 2em;
  font-size: smaller;
  color: #4a4a4a;
}

.content_container {
  padding: 24px;
}

.footer_container {
  color: grey;
  text-align: center;
  background: white;
  padding: 1em 0em;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  letter-spacing: 2px;
  border: 2px solid;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  color: #2b4b79;
  font-weight: 500;
  font-size: larger;
  white-space: nowrap;
  user-select: none;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.footer_container > a {
  margin: 0.5em;
}

.links_container {
  font-size: 100%;
}

.links_container > a {
  color: lightgrey;
  padding: 0.5em;
}

.links_container > a:hover {
  color: #444444;
}

.partners_container > a {
  color: lightgrey;
  padding: 1em;
}

.partners_container > a:hover {
  color: #444444;
}

.partners_container > a > img {
   opacity: 0.1;
   height: 2em;
   vertical-align: bottom;
}

.links_vertical {
  display: grid;
}

.edit {
  font-size: x-small;
  color: lightgrey;
}

.edit > a {
  padding-left: 0.5em;
}

.home_page {
  font-size: medium;
  color: #908e8e;
}

.join_input {
  height: 28px;
  background-image: none !important;
  padding: 4px;
  font-size: 100%;
  margin: 8px;
  border: none;
  width: 90%;
}

.reddit_no_account {
  color: #444;
}

.content_card {
  background-color: white;
  padding: 24px;
  cursor: pointer;
  margin: 16px 0px;
  border-radius: 3px;
}

.content_card > a {
  color: #444; 
}

.content_card > h1, h2, h3, h4, h5 {
  margin: 0em; 
}

.card_shadow {
  box-shadow: -1px -1px 14px #cccccc;
  -webkit-box-shadow: -1px -1px 14px #cccccc;
  -moz-box-shadow: -1px -1px 14px #cccccc;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .main_container {
    flex-direction: column;
    min-height: 100%;
    position: inherit;
  }

  .first_half {
    width: 100%;
    min-height: 70vh;
  }

  .second_half {
    width: 100%;
    overflow-y: inherit;
  }

  .cta_container > div {
    display: grid;
  }

  .links_container {
    font-size: 150%;
  }

  .content_container > div {
    display: grid;
  }
}
