<html>
  <head>
    <script>
      function search() {
        const parts = window.location.pathname.split('/');
        if (parts.length > 2) {
          return; 
        }
        const flairs = parts[1].split('+');
        const q = [];
        for (const f of flairs) {
          if (f) {
            q.append(encodeURIComponent('flair:' + f));            
          }
        }
        const url = 'https://www.reddit.com/r/MLEVN/search?restrict_sr=on&q=' + q.join('+');
        window.location.replace(url);
      }
      search();
    </script>
  </head>
  <body>
    <h1>404</h1>
    <h2>File not found<h2>
    <p>Vay vay!  We couldn't find that file.</p>
    
    <p>To search try...</p>
    <p>To go to the homepage...</p>
    <p>For help... GitHub issues</p>
  </body>
</html>
