<html>
  <head>
    <script>
      function search() {
        
        const parts = window.location.pathname.split('/');
        
        if (parts.length < 2 || parts.length > 3) {
          return; 
        }
        
        if (!['reddit', 'posts', 'topics', 'search', 'join'].includes(parts[1])) {
          return;
        }
        
        if (!parts[2]) {
           window.location.replace('https://www.reddit.com/r/MLEVN/');
        } else {
          const flairs = parts[2].split('+').filter(f => f);
          const query = flairs.map(f => encodeURIComponent('flair:' + f)).join('+');
          const url = 'https://www.reddit.com/r/MLEVN/search?restrict_sr=on&q=' + query;
          window.location.replace(url);
        }
        
      }
      search();
    </script>
  </head>
  <body>
    <h1>404</h1>
    <h2>File not found<h2>
    <p>Vay vay!  We couldn't find that file.</p>
    
    <p>To search try...</p>
    <p>To go to the homepage...</p>
    <p>For help... GitHub issues</p>
  </body>
</html>
