<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title}} - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.title}} - {{ page.title }}">
    <meta property="og:title" content="{{ site.title}} - {{ page.title }}" />
    <meta property="og:url" content="https://mlevn.github.io/{{ page.title | downcase}}" />
    <meta property="og:image" content="https://mlevn.github.io/img/evn.jpg" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>

      <div class="main_container">

        <div class="content_container">

          {{ content }}

        </div>

    </div>
    
    <footer_container>
      <p>
          Want to add to or update {{ page.title }}?
          <a href="https://github.com/MLEVN/mlevn.github.io/blob/master/{{ page.path }}" target="_blank">Edit on GitHub!<.a>
      <p>

    </footer_container>

  </body>
</html>
