<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }} - {{ site.description }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta property="og:title" content="{{ site.title }} - {{ site.description }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="{{ site.url }}/img/evn.jpg" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>

      <div class="bg">
        <div class="bg bgimg">
        </div>
        <div class="main_container">
          <div class="first_half">
            <div class="main_title">
              <h1>{{ page.title }}</h1>
            </div>

            <div class="cta_container">
              
              <form class="join" action="https://formspree.io/join@mlevn.org" method="POST">
                <p>
                  <input type="text" name="name" placeholder="Your Name" class="join_input" required="" />
                  <br />
                  <input type="text" name="reddit" class="join_input" placeholder="Reddit username" required="" />
                  <br />
                  <br>
                    <span class="reddit_no_account">
                      No Reddit account? 
                      <a href="https://www.reddit.com/register?dest=https%3A%2F%2Fwww.reddit.com%2Fr%2Fmlevn" target="_blank">
                        Create a Reddit account
                      </a>
                    </span>
                </p>
                <p>
                  <input type="text" class="join_input" name="telegram" placeholder="Telegram username or tel" />
                  <br />
                  <input type="email" name="Email" class="join_input" placeholder="you@example.com" />
                  <br />
                  <br />
                  <input style="display:none;" type="text" name="_gotcha" />
                  <input type="hidden" name="_next" value="/welcome/" />
                </p>
                <input type="submit" class="button" value="Join ML EVN" />
              </form>
              
            </div>

          </div>

        </div>

      </div>

      {% include analytics.html %}
  </body>
</html>
