<!DOCTYPE html>
<html>
  <head>
    <title>ML EVN - machine learning community in Yerevan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="machine learning community in Yerevan, Armenia">
    <meta property="og:title" content="ML EVN - machine learning community in Yerevan" />
    <meta property="og:url" content="https://mlevn.github.io" />
    <meta property="og:image" content="https://mlevn.github.io/img/evn.jpg" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>

      <div class="bg">
        <div class="bg bgimg">
        </div>
        <div class="main_container">
          <div class="first_half">
            <div class="main_title">
              <h1>ML EVN</h1>
              <h2>machine learning community in Yerevan</h2>
            </div>
            
            <div class="cta_container">

              <a class="button" href="/join/">Join ML EVN</a>
              
              <p>
                <span id="signed_up"></span>
                <br>
                <span id="online"></span>
              </p>
            </div>
          </div>
          
          <div class="second_half">
            <div class="content_container">
              
              {{ content }}
            
            </div>
          </div>

        </div>
        <div class="footer_container">
            <div class="links_container">
                <a target="_blank" href="https://twitter.com/ml_evn">
                  <i class="fab fa-twitter"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/MLEVN.org/">
                  <i class="fab fa-facebook"></i>
                </a>
                <a target="_blank" href="mailto://contact@mlevn.org">
                  <i class="fa fa-envelope"></i>
                </a>
                <a target="_blank" href="https://github.com/mlevn">
                  <i class="fab fa-github"></i>
                </a>
            </div>
            <div class="partners_container">
                <a target="_blank" href="https://araratangels.com/">
                  <img src="/img/araratangels.png"/> Ararat Angels
                </a>
                <a target="_blank" href="https://smartgate.vc/">
                  SmartGate VC
                </a>
                <a target="_blank" href="mailto:contact@mlevn.org">
                  [your org]
                </a>
            </div>
        </div>

      </div>
    
      <script>
        const start = 1529872022619; // 24 June
        const diff_ms = new Date() - start;
        const diff_h = diff_ms / (1000 * 60 * 60);

        const signed_up = Math.floor(diff_h);
        const online = Math.floor(7 + (new Date().getHours() / 2) + (new Date().getMinutes() / 6));

        var i = 0;
        function updateOnline() {
          document.getElementById('online').innerText = i + ' online';
          if (i < online) {
            setTimeout(updateOnline, 25);
          }
          i += 1;
        }  
        var j = 0;
        function updateSignup() {
          document.getElementById('signed_up').innerText = j + ' signed up';
          if (j < signed_up) {
            setTimeout(updateSignup, 50);
          } else {
             updateOnline();
          }
          j += 1;
        }  
        setTimeout(updateSignup, 1000);

      </script>

  </body>
</html>
